/* For this file */
body {
    font-family: monospace;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 50%;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    background-color: #f8f6e4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.quizbox-container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.quiz-question {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.options {
    margin-bottom: 16px;
}


#result {
    font-size: 20px;
    margin-top: 20px;
}

/* Imported  */
.button {
    height: 32px;
    border-radius: 10px;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;
}

.bg-lightblue {
    background-color: rgb(99, 99, 240);
    color: white;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

input [type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
}