/* For this file */
body {
    font-family: monospace;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: yellow;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.quiz-question {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0   ;
}

/* Imported  */
.button {
    height: 32px;
    border-radius: 4px;
    border: none;
    padding-bottom: 20px;
}

.bg-lightblue {
    background-color: rgb(99, 99, 240);
    color: white;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

input [type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
}